html {
    height: 100%;
    width: 100;
}

body {
    background-image: linear-gradient(rgb(190, 36, 36), rgb(245, 15, 15), rgb(231, 91, 91));
}

h1 {
    text-align: center;
    color: white;
    font-family: "zeplin-vf", sans-serif;
    font-variation-settings: "CONX" 1, "CONY" 1;
}