html {
    height: 100%;
    width: 100;
}

body {
    background-image: linear-gradient(rgb(190, 36, 36), rgb(245, 15, 15), rgb(231, 91, 91));
}

h1 {
    font-family: "poblet-diamond", sans-serif;
    font-weight: 500;
    font-style: normal;
}